name: acceptance
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:
jobs:
  acceptance:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - '~1.20'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - run: make acceptance
